services:
  haproxy:
    build: .
    ports:
      - 3434:80
    environment:
      BACKENDS: "192.168.122.220,192.168.122.221,192.168.122.222"
      SERVICES: "80:30080:http:proxy_protocol,6443:6443:tcp"
